node_modules/
.storybook/
src/

# verdaccio private registry directory
storage/

# idea folder which is the IDE setting files
.idea
.vscode
debug.log

#npmrc because i'm using it to specify the link of my private registry
.npmrc

